&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
  {{&gt; 02-components/00-global/00-header }}
  &lt;div role=&quot;main&quot;&gt;
    &lt;div class=&quot;l-two-col&quot;&gt;
      &lt;div class=&quot;l-main&quot;&gt;
        &lt;article class=&quot;article&quot;&gt;
          &lt;header class=&quot;article-header&quot;&gt;
            &lt;h1&gt;{{ article_title }}&lt;/h1&gt;
            {{&gt; 01-compounds/00-text/01-byline-author-time }}
          &lt;/header&gt;
          {{&gt; 02-components/01-article/00-article-body }}
        &lt;/article&gt;&lt;!--end .article--&gt;
        {{&gt; 01-compounds/06-components/00-social-share }}
        {{&gt; 02-components/02-comments/01-sticky-comment }}
        {{&gt; 02-components/02-comments/00-comment-thread }}
      &lt;/div&gt;&lt;!--end l-main--&gt;

      &lt;div class=&quot;l-sidebar&quot;&gt;
        {{&gt; 02-components/04-sections/02-related-posts }}
        {{&gt; 02-components/04-sections/01-recent-tweets }}
      &lt;/div&gt;&lt;!--end l-sidebar--&gt;
    &lt;/div&gt;&lt;!--end l-two-col--&gt;
  &lt;/div&gt;&lt;!--End role=main--&gt;
  {{&gt; 02-components/00-global/01-footer }}
&lt;/div&gt;

