&lt;div class=&quot;carousel-list-carousel&quot;&gt;
&Tab;&lt;div class=&quot;carousel-container&quot;&gt;
&Tab;&Tab;{{&gt; molecules-inset-block }} 
&Tab;&lt;div&gt;
&Tab;&lt;div class=&quot;carousel-controls&quot;&gt;
&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;carousel-prev&quot;&gt;&amp;larr;&lt;/a&gt;
&Tab;&Tab;&lt;div class=&quot;carousel-pagination&quot;&gt;1/5&lt;/div&gt;
&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;carousel-next&quot;&gt;&amp;rarr;&lt;/a&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;