{{# html }}
  &lt;main&gt;
    &lt;h2&gt;{{ h2 }}&lt;/h2&gt;

    &lt;h1&gt;{{ h1 }}&lt;/h1&gt;

    &lt;h3&gt;{{ h3 }}&lt;/h3&gt;

    &lt;ul&gt;
      &lt;li&gt;&lt;a href=&quot;https://github.com/electric-eloquence/fepper-minimal&quot;&gt;{{ a }}&lt;/a&gt;{{ li }}&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;https://github.com/electric-eloquence/fepper-drupal&quot;&gt;{{ a_1 }}&lt;/a&gt;{{ li_1 }}&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;https://github.com/electric-eloquence/fepper-wordpress&quot;&gt;{{ a_2 }}&lt;/a&gt;{{ li_2 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;{{ h3_1 }}&lt;/h3&gt;

    &lt;ul&gt;
      &lt;li&gt;&lt;a href=&quot;#install&quot;&gt;{{ a_3 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#update&quot;&gt;{{ a_4 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#configure&quot;&gt;{{ a_5 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#use&quot;&gt;{{ a_6 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#global-data&quot;&gt;{{ a_7 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#partial-data&quot;&gt;{{ a_8 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#static-site-generation&quot;&gt;{{ a_9 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#the-backend&quot;&gt;{{ a_10 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#webserved-directories&quot;&gt;{{ a_11 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#github-pages&quot;&gt;{{ a_12 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#templater&quot;&gt;{{ a_13 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#mustache-browser&quot;&gt;{{ a_14 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#html-scraper&quot;&gt;{{ a_15 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#variables.styl&quot;&gt;{{ a_16 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#more-documentation&quot;&gt;{{ a_17 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#contributing&quot;&gt;{{ a_18 }}&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;install&quot;&gt;&lt;/a&gt;{{ h3_2 }}&lt;/h3&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_3 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_4 }}&lt;a href=&quot;http://brew.sh&quot;&gt;{{ a_19 }}&lt;/a&gt;{{ li_4_1 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_5 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_6 }}&lt;/li&gt;
          &lt;li&gt;{{ li_7 }}&lt;/li&gt;
          &lt;li&gt;{{ li_8 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_9 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_10 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_11 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_12 }}&lt;/li&gt;
          &lt;li&gt;{{ li_13 }}&lt;code&gt;{{ code }}&lt;/code&gt;&lt;/li&gt;
          &lt;li&gt;{{ li_14 }}&lt;code&gt;{{ code_1 }}&lt;/code&gt;&lt;/li&gt;
          &lt;li&gt;{{ li_15 }}&lt;code&gt;{{ code_2 }}&lt;/code&gt;&lt;/li&gt;
          &lt;li&gt;{{ li_16 }}&lt;a href=&quot;https://nodejs.org/en/download/package-manager/&quot;&gt;{{ a_20 }}&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;{{ li_17 }}&lt;code&gt;{{ code_3 }}&lt;/code&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_18 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_19 }}&lt;code&gt;{{ code_4 }}&lt;/code&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_20 }}
        &lt;ul&gt;
          &lt;li&gt;&lt;code&gt;{{ code_5 }}&lt;/code&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_21 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_22 }}&lt;code&gt;{{ code_6 }}&lt;/code&gt;{{ li_22_1 }}&lt;/li&gt;
          &lt;li&gt;{{ li_23 }}&lt;code&gt;{{ code_7 }}&lt;/code&gt;{{ li_23_1 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_24 }}&lt;a href=&quot;http://localhost:3000&quot;&gt;{{ a_21 }}&lt;/a&gt;{{ li_24_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_25 }}&lt;a href=&quot;http://patternlab.io/docs/index.html&quot;&gt;{{ a_22 }}&lt;/a&gt;{{ li_25_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_26 }}&lt;code&gt;{{ code_8 }}&lt;/code&gt;{{ li_26_1 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_27 }}&lt;a href=&quot;http://livereload.com/extensions/&quot;&gt;{{ a_23 }}&lt;/a&gt;{{ li_27_1 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_28 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;update&quot;&gt;&lt;/a&gt;{{ h3_3 }}&lt;/h3&gt;

    &lt;p&gt;{{ p }}&lt;/p&gt;

    &lt;p&gt;{{ p_1 }}&lt;a href=&quot;https://github.com/electric-eloquence/fepper&quot;&gt;{{ a_24 }}&lt;/a&gt;{{ p_1_1 }}&lt;/p&gt;

    &lt;p&gt;{{ p_2 }}&lt;em&gt;{{ em }}&lt;/em&gt;{{ p_2_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;configure&quot;&gt;&lt;/a&gt;{{ h3_4 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_3 }}&lt;code&gt;{{ code_9 }}&lt;/code&gt;{{ p_3_1 }}&lt;code&gt;{{ code_10 }}&lt;/code&gt;{{ p_3_1_1 }}&lt;code&gt;{{ code_11 }}&lt;/code&gt;{{ p_3_1_1_1 }}&lt;code&gt;{{ code_12 }}&lt;/code&gt;{{ p_3_1_1_1_1 }}&lt;code&gt;{{ code_13 }}&lt;/code&gt;{{ p_3_1_1_1_1_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;use&quot;&gt;&lt;/a&gt;{{ h3_5 }}&lt;/h3&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_29 }}
        &lt;ul&gt;
          &lt;li&gt;{{ li_30 }}&lt;code&gt;{{ code_14 }}&lt;/code&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_31 }}
        &lt;ul&gt;
          &lt;li&gt;&lt;code&gt;{{ code_15 }}&lt;/code&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_32 }}
        &lt;ul&gt;
          &lt;li&gt;&lt;code&gt;{{ code_16 }}&lt;/code&gt;{{ li_33 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_17 }}&lt;/code&gt;{{ li_34 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_18 }}&lt;/code&gt;{{ li_35 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_19 }}&lt;/code&gt;{{ li_36 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_20 }}&lt;/code&gt;{{ li_37 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_21 }}&lt;/code&gt;{{ li_38 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_22 }}&lt;/code&gt;{{ li_39 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_23 }}&lt;/code&gt;{{ li_40 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_24 }}&lt;/code&gt;{{ li_41 }}&lt;/li&gt;
          &lt;li&gt;&lt;code&gt;{{ code_25 }}&lt;/code&gt;{{ li_42 }}&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;{{ li_43 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;global-data&quot;&gt;&lt;/a&gt;{{ h3_6 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_4 }}&lt;code&gt;{{ code_26 }}&lt;/code&gt;{{ p_4_1 }}&lt;code&gt;{{ code_27 }}&lt;/code&gt;{{ p_4_1_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;partial-data&quot;&gt;&lt;/a&gt;{{ h3_7 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_5 }}&lt;code&gt;{{ code_28 }}&lt;/code&gt;{{ p_5_1 }}&lt;code&gt;{{ code_29 }}&lt;/code&gt;{{ p_5_1_1 }}&lt;code&gt;{{ code_30 }}&lt;/code&gt;{{ p_5_1_1_1 }}&lt;/p&gt;

    &lt;p&gt;&lt;em&gt;{{ em_1 }}&lt;/em&gt;{{ p_6 }}&lt;em&gt;{{ em_2 }}&lt;/em&gt;{{ p_6_1 }}&lt;code&gt;{{ code_31 }}&lt;/code&gt;{{ p_6_1_1 }}&lt;em&gt;{{ em_3 }}&lt;/em&gt;{{ p_6_1_1_1 }}&lt;code&gt;{{ code_32 }}&lt;/code&gt;{{ p_6_1_1_1_1 }}&lt;code&gt;{{ code_33 }}&lt;/code&gt;{{ p_6_1_1_1_1_1 }}&lt;code&gt;{{ code_34 }}&lt;/code&gt;{{
      p_6_1_1_1_1_1_1 }}&lt;code&gt;{{ code_35 }}&lt;/code&gt;{{ p_6_1_1_1_1_1_1_1 }}&lt;em&gt;{{ em_4 }}&lt;/em&gt;{{ p_6_1_1_1_1_1_1_1_1 }}&lt;em&gt;{{ em_5 }}&lt;/em&gt;{{ p_6_1_1_1_1_1_1_1_1_1 }}&lt;code&gt;{{ code_36 }}&lt;/code&gt;{{ p_6_1_1_1_1_1_1_1_1_1_1 }}&lt;code&gt;{{ code_37 }}&lt;/code&gt;{{ p_6_1_1_1_1_1_1_1_1_1_1_1
      }}&lt;/p&gt;

    &lt;ul&gt;
      &lt;li&gt;&lt;strong&gt;{{ strong }}&lt;/strong&gt;&lt;/li&gt;
      &lt;li&gt;&lt;strong&gt;{{ strong_1 }}&lt;/strong&gt;&lt;/li&gt;
      &lt;li&gt;&lt;strong&gt;{{ strong_2 }}&lt;/strong&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;static-site-generation&quot;&gt;&lt;/a&gt;{{ h3_8 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_7 }}&lt;code&gt;{{ code_38 }}&lt;/code&gt;{{ p_7_1 }}&lt;code&gt;{{ code_39 }}&lt;/code&gt;{{ p_7_1_1 }}&lt;a href=&quot;http://localhost:3000/static/&quot;&gt;{{ a_25 }}&lt;/a&gt;{{ p_7_1_1_1 }}&lt;code&gt;{{ code_40 }}&lt;/code&gt;{{ p_7_1_1_1_1 }}&lt;code&gt;{{ code_41 }}&lt;/code&gt;{{ p_7_1_1_1_1_1 }}&lt;code&gt;{{ code_42 }}&lt;/code&gt;{{
      p_7_1_1_1_1_1_1 }}&lt;code&gt;{{ code_43 }}&lt;/code&gt;{{ p_7_1_1_1_1_1_1_1 }}&lt;code&gt;{{ code_44 }}&lt;/code&gt;{{ p_7_1_1_1_1_1_1_1_1 }}&lt;code&gt;{{ code_45 }}&lt;/code&gt;{{ p_7_1_1_1_1_1_1_1_1_1 }}&lt;code&gt;{{ code_46 }}&lt;/code&gt;{{ p_7_1_1_1_1_1_1_1_1_1_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;the-backend&quot;&gt;&lt;/a&gt;{{ h3_9 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_8 }}&lt;code&gt;{{ code_47 }}&lt;/code&gt;{{ p_8_1 }}&lt;code&gt;{{ code_48 }}&lt;/code&gt;{{ p_8_1_1 }}&lt;code&gt;{{ code_49 }}&lt;/code&gt;{{ p_8_1_1_1 }}&lt;code&gt;{{ code_50 }}&lt;/code&gt;{{ p_8_1_1_1_1 }}&lt;/p&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_44 }}&lt;code&gt;{{ code_51 }}&lt;/code&gt;{{ li_44_1 }}&lt;code&gt;{{ code_52 }}&lt;/code&gt;{{ li_44_1_1 }}&lt;code&gt;{{ code_53 }}&lt;/code&gt;{{ li_44_1_1_1 }}&lt;code&gt;{{ code_54 }}&lt;/code&gt;{{ li_44_1_1_1_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_45 }}&lt;code&gt;{{ code_55 }}&lt;/code&gt;{{ li_45_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_46 }}&lt;/li&gt;
      &lt;li&gt;{{ li_47 }}&lt;code&gt;{{ code_56 }}&lt;/code&gt;&lt;/li&gt;
      &lt;li&gt;{{ li_48 }}&lt;code&gt;{{ code_57 }}&lt;/code&gt;{{ li_48_1 }}&lt;code&gt;{{ code_58 }}&lt;/code&gt;{{ li_48_1_1 }}&lt;code&gt;{{ code_59 }}&lt;/code&gt; &lt;/li&gt;
      &lt;li&gt;{{ li_49 }}&lt;code&gt;{{ code_60 }}&lt;/code&gt;{{ li_49_1 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;templater&quot;&gt;&lt;/a&gt;{{ h3_10 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_9 }}&lt;code&gt;{{ code_61 }}&lt;/code&gt;{{ p_9_1 }}&lt;code&gt;{{ code_62 }}&lt;/code&gt;{{ p_9_1_1 }}&lt;/p&gt;

    &lt;p&gt;{{ p_10 }}&lt;/p&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_50 }}&lt;/li&gt;
      &lt;li&gt;{{ li_51 }}&lt;/li&gt;
      &lt;li&gt;{{ li_52 }}&lt;/li&gt;
      &lt;li&gt;{{ li_53 }}&lt;/li&gt;
      &lt;li&gt;{{ li_54 }}&lt;/li&gt;
      &lt;li&gt;{{ li_55 }}&lt;/li&gt;
      &lt;li&gt;{{ li_56 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p&gt;{{ p_11 }}&lt;code&gt;{{ code_63 }}&lt;/code&gt;{{ p_11_1 }}&lt;code&gt;{{ code_64 }}&lt;/code&gt;{{ p_11_1_1 }}&lt;/p&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_57 }}&lt;code&gt;{{ code_65 }}&lt;/code&gt;{{ li_57_1 }}&lt;code&gt;{{ code_66 }}&lt;/code&gt;{{ li_57_1_1 }}&lt;code&gt;{{ code_67 }}&lt;/code&gt;{{ li_57_1_1_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_58 }}&lt;code&gt;{{ code_68 }}&lt;/code&gt;{{ li_58_1 }}&lt;code&gt;{{ code_69 }}&lt;/code&gt;{{ li_58_1_1 }}&lt;code&gt;{{ code_70 }}&lt;/code&gt;{{ li_58_1_1_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_59 }}&lt;code&gt;{{ code_71 }}&lt;/code&gt;{{ li_59_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_60 }}&lt;code&gt;{{ code_72 }}&lt;/code&gt;{{ li_60_1 }}&lt;code&gt;{{ code_73 }}&lt;/code&gt;{{ li_60_1_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_61 }}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p&gt;&lt;a href=&quot;https://github.com/electric-eloquence/fepper-drupal&quot;&gt;{{ a_26 }}&lt;/a&gt;{{ p_12 }}&lt;a href=&quot;https://github.com/electric-eloquence/fepper-wordpress&quot;&gt;{{ a_27 }}&lt;/a&gt;{{ p_12_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;webserved-directories&quot;&gt;&lt;/a&gt;{{ h3_11 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_13 }}&lt;code&gt;{{ code_74 }}&lt;/code&gt;{{ p_13_1 }}&lt;code&gt;{{ code_75 }}&lt;/code&gt;{{ p_13_1_1 }}&lt;code&gt;{{ code_76 }}&lt;/code&gt;{{ p_13_1_1_1 }}&lt;code&gt;{{ code_77 }}&lt;/code&gt;{{ p_13_1_1_1_1 }}&lt;/p&gt;

    &lt;p&gt;&lt;code&gt;{{ code_78 }}&lt;/code&gt;&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;github-pages&quot;&gt;&lt;/a&gt;{{ h3_12 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_14 }}&lt;code&gt;{{ code_79 }}&lt;/code&gt;{{ p_14_1 }}&lt;code&gt;{{ code_80 }}&lt;/code&gt;{{ p_14_1_1 }}&lt;code&gt;{{ code_81 }}&lt;/code&gt;{{ p_14_1_1_1 }}&lt;code&gt;{{ code_82 }}&lt;/code&gt;{{ p_14_1_1_1_1 }}&lt;code&gt;{{ code_83 }}&lt;/code&gt;{{ p_14_1_1_1_1_1 }}&lt;code&gt;{{ code_84 }}&lt;/code&gt;{{
      p_14_1_1_1_1_1_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;mustache-browser&quot;&gt;&lt;/a&gt;{{ h3_13 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_15 }}&lt;code&gt;{{ code_85 }}&lt;/code&gt;&lt;/p&gt;

    &lt;p&gt;{{ p_16 }}&lt;code&gt;{{ code_86 }}&lt;/code&gt;{{ p_16_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;html-scraper&quot;&gt;&lt;/a&gt;{{ h3_14 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_17 }}&lt;/p&gt;

    &lt;p&gt;{{ p_18 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;variables.styl&quot;&gt;&lt;/a&gt;{{ h3_15 }}&lt;/h3&gt;

    &lt;p&gt;&lt;code&gt;{{ code_87 }}&lt;/code&gt;{{ p_19 }}&lt;/p&gt;

    &lt;p&gt;&lt;code&gt;{{ code_88 }}&lt;/code&gt;&lt;/p&gt;

    &lt;p&gt;{{ p_20 }}&lt;code&gt;{{ code_89 }}&lt;/code&gt;{{ p_20_1 }}&lt;code&gt;{{ code_90 }}&lt;/code&gt;{{ p_20_1_1 }}&lt;code&gt;{{ code_91 }}&lt;/code&gt;{{ p_20_1_1_1 }}&lt;/p&gt;

    &lt;h3&gt;&lt;a id=&quot;more-documentation&quot;&gt;&lt;/a&gt;{{ h3_16 }}&lt;/h3&gt;

    &lt;ul&gt;
      &lt;li&gt;&lt;a href=&quot;https://github.com/electric-eloquence/fepper/blob/master/excludes/default.pref.yml&quot;&gt;{{ a_28 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;http://patternlab.io/docs/index.html&quot;&gt;{{ a_29 }}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;https://mustache.github.io/mustache.5.html&quot;&gt;{{ a_30 }}&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;h3&gt;&lt;a id=&quot;contributing&quot;&gt;&lt;/a&gt;{{ h3_17 }}&lt;/h3&gt;

    &lt;p&gt;{{ p_21 }}&lt;/p&gt;

    &lt;ul&gt;
      &lt;li&gt;{{ li_62 }}&lt;a href=&quot;https://github.com/electric-eloquence/fepper/tree/dev&quot;&gt;{{ a_31 }}&lt;/a&gt;{{ li_62_1 }}&lt;/li&gt;
      &lt;li&gt;{{ li_63 }}&lt;/li&gt;
    &lt;/ul&gt;

  &lt;/main&gt;
{{/ html }}

        

