&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
&Tab;{{&gt; atoms-logo }}
&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-search icon-search&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;
&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
&Tab;{{&gt; molecules-primary-nav }}
&Tab;{{&gt; molecules-search }}
&lt;/header&gt;
&lt;!-- End .header --&gt;
