&lt;div class=&quot;block block-headline&quot;&gt;
&Tab;&lt;a href=&quot;#&quot;&gt;
&Tab;&Tab;&lt;h2 class=&quot;headline&quot;&gt;Headline: Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/h2&gt;
&Tab;&lt;/a&gt;
&lt;/div&gt;