&lt;section class=&quot;section latest-posts&quot;&gt;
&Tab;&lt;h2 class=&quot;section-title&quot;&gt;Latest Posts&lt;/h2&gt;
&Tab;&lt;ul class=&quot;post-list&quot;&gt;
&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&lt;/ul&gt;
&Tab;&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;