&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;{{&gt; organisms-header }}
&Tab;&lt;div role=&quot;main&quot;&gt;
&Tab;&Tab;&lt;h1 class=&quot;section-title&quot;&gt;Our Outdoor Blog&lt;/h1&gt;
&Tab;&Tab;&lt;div class=&quot;l-two-col&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;l-main&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-latest-posts }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-pagination }}
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-main--&gt;

&Tab;&Tab;&Tab;&lt;div class=&quot;l-sidebar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-recent-tweets }}
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-sidebar--&gt;
&Tab;&Tab;&lt;/div&gt;&lt;!--end two-col--&gt;
&Tab;&lt;/div&gt;&lt;!--End role=main--&gt;
&Tab;{{&gt; organisms-footer }}
&lt;/div&gt;