&lt;div class=&quot;block block-headline&quot;&gt;
&Tab;&lt;a href=&quot;#&quot;&gt;
&Tab;&Tab;&lt;h2 class=&quot;headline&quot;&gt;Headline: Lorem Ipsum Dolor Amet Sit&lt;/h2&gt;
&Tab;&Tab;{{&gt; atoms-time }}
&Tab;&lt;/a&gt;
&lt;/div&gt;