&lt;section class=&quot;comments section&quot;&gt;
&Tab;&lt;div class=&quot;comments-container&quot; id=&quot;comments-container&quot;&gt;
&Tab;&Tab;&lt;h2 class=&quot;section-title&quot;&gt;Selected Comments&lt;/h2&gt;
&Tab;&Tab;&lt;ul class=&quot;comment-list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-single-comment(description: &apos;We are all in the gutter, but some of us are looking at the stars.&apos;) }}
        {{&gt; molecules-single-comment(description: &apos;A life is like a garden. Perfect moments can be had, but not preserved, except in memory.&apos;) }}
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/div&gt;
&lt;/section&gt;
